*{
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
}

.main-frame {
    display: flex;
    position: relative;
}

.nav-panel {
    position: relative;
    display: flex;
    color: white;
    flex-direction: column;
    width: 10%;
    background:linear-gradient(43deg, rgb(255, 237, 237), rgb(75, 192, 192));
    height: 700px;
    border-radius: 15px;
    padding: 20px;
    margin-left: 5px;
    box-shadow: 16px 21px 5px -5px rgba(34, 60, 80, 0.6);
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    grid-template-rows: auto;
    padding: 20px;
    overflow: hidden;
    background-color: #fff;
    
}

.chart-container {
    position: relative;
    width: 95%;
    max-width: 400px;
    height: 200px;
    margin-bottom: 20px;
    box-shadow: 16px 21px 5px -5px rgba(34, 60, 80, 0.6);
    padding: 20px;
    border-radius: 10px;
    background-color: #fefefe;
    
}

.Logo {
    margin-right: 10px;
    display: flex;
    align-items: center;
    
}
.Logo-text {
    font-size: 20px;
}

.modal-overlay {
     display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Полупрозрачный фон */
    z-index: 1000; /* Высокий z-index для отображения над другими элементами */
    justify-content: center;
    align-items: center;
}

.modal-container {
    display: flex;
    position: relative;
    background-color: #fff;
    
    width: 400px;
    height: 400px;
    border: solid black 3px;
    border-radius: 15px;
    
}


.settings-buttons {
    position: relative;
    display: flex;
    color: white;
    flex-direction: column;
    width: auto;
    background-color: #fefefe;
    
    border-radius: 15px;
    padding: 20px;
    
    border-right: solid 2px black;
}
.generate-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.settings-btn {
    overflow: hidden;
}

.data-container {
    display: block;
    position: relative;
    background-color: #fff;
    
    width: 400px;
    height: 400px;
    border: solid black 3px;
    border-radius: 15px;
    padding: 15px;
}

.close-btn { 
    position: absolute;
    z-index: 10;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
    transition: all 0.3s ease; /* Плавность анимации */
}

.close-btn:hover {
    transform: scale(1.2); /* Увеличение на 20% */
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.2));
}

.chart-settings {
    display: block;
    /* flex-direction: column; */
    position: relative;
    background-color: #fff;
    
    width: 400px;
    height: 400px;
    border: solid black 3px;
    border-radius: 15px;
}

.source-slct {
    margin: 10px;
}

.submit-btn {
    position: absolute;
    z-index: 10;
    bottom: 10px;
    right: 10px;
}